:root {
    --real-border-radius: 8px;
    --section-border-radius: 20px;
    --theme-size: 10px;
    --color-highlight: #e3444b;
    --color-accent: #33e771;
    --color-accent-banner: #37b44a;
    --color-accent-hover: #e3444b;
    --color-secondary: #e3444b;
    --color-secondary-hover: #e3444b;
    --color-combo-border: #33e771;
    --color-light: #f5f5f8;
    --background-color-light: #f5f5f8;
    --color-light-hover: #ededed;
    --color-dark: #212a34;
    --color-dark-hover: #e3444b;
    --color-grey: #6b7782;
    --color-placeholder: #6b7782;
    --background-color-grey: #6b7782;
    --color-grey-hover: #212a34;
    --color-white: #fff;
    --color-white-hover: #ededed;
    --color-border: #f0ede9;
    --color-border-hover: #f0ede9;
    --color-privite-light: #f0ede9;
    --color-error: #e3444b;
    --color-link: #000;
    --color-link-hover: #01ba4a;
    --color-link-secondary: #01cb51;
    --color-link-secondary-hover: #e3444b;
    --color-text-second: #6b6b6b;
    --color-text-third: #a2a2a2;
    --color-gray-on-light: #a2a2a2;
    --banner-bg-dark: #1c2520;
    --body-bg: #fff;
    --color-divider: #e9e9ef;
    --body-color: #212a34;
    --private-accent-color: #2d7d2f;
    --private-gray-color: #7f8482;
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --font-main: "Montserrat";
    --font-heading: "Montserrat";
    --font-private: "Montserrat";
    --color-red: #e3444b;
    --color-blue-light: #3f6e98;
    --color-blue-dark: #012e64;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-display: swap;
    border: none;
    font-weight: 400;
    font-size: 16px;
    outline: none;
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}

button {
    background-color: transparent;
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.container {
    padding-inline: calc(var(--gutter) + env(safe-area-inset-left, 0px));
    padding-inline: calc(var(--gutter) + env(safe-area-inset-right, 0px));
    margin-inline: auto;
    width: 100%;
    position: relative;
    z-index: 2;
    max-width: none;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}

/* desktop */
#headerWrapper {
    display: flex;
    justify-content: space-between;
    padding-block: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: fit-content;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#headerBox {
    display: flex;
    justify-content: space-between;
}

.headerMenu {
    display: flex;
    gap: 15px;
}

#headerWrapper * {
    color: #000;
    cursor: pointer;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
}

.headerMenu .dropdownMenu {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 150%;
    left: -50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    width: calc(100% + 200px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown.active ul.dropdownMenu {
    display: flex;
}

.dropdownMenu a {
    padding: 15px 20px;
    display: block;
    transition: all 0.3s ease-in-out;
}

.dropdownMenu a:hover {
    background: #eee;
}

#headerWrapper button {
    background-color: white;
    color: #000;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ffd532;
    box-shadow: 0 0 0 0 #ffd532;
}


#headerWrapper button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 #ffd532;
}

#headerWrapper button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 #ffd532;
}

#headerWrapper a img {
    transform: scale(2.3);
    margin-top: 10px;
}

#navRight {
    display: flex;
    align-items: center;
    gap: 30px;
}

/*banner*/
#bannerWrapper {
    position: relative;
    height: 80vh;
    margin-top: 96px;
    overflow: hidden;
    background: #FCF3EC;
}

#bannerWrapper .container {
    height: 100%;
}
.heroSwiper {
    height: 100%;
}
.bannerLayout {
    position: absolute;
    bottom: 0%;
    right: 0;
    transform: translate(15%, 0%);
    width: 65%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerLayout::after {
    content: "";
    position: absolute;
    top: 20%;
    right: 25%;
    background: #F1CA9F;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: 2;
}

.bannerLayout::before {
    content: "";
    position: absolute;
    top: 16%;
    right: 22%;
    background: #F9E3CB;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    z-index: 1;
    animation: bubble 2s infinite ease-in-out;
}

@keyframes bubble {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}

.bannerLayout img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 3;
    transform: translateY(5%);
}

.bannerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100%;
}

.bannerText h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bannerText ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#bannerWrapper .bn-swiper-button-prev {
    left: 40% !important;
    transform: rotate(180deg);
}

.bannerText ul li {
    font-size: 15px;
    color: #a6a6a6;
    font-weight: 300;
}

.swiperControl {
    z-index: 99;
    cursor: pointer;
    position: absolute;
    left: 45% !important;
    bottom: 15%;
    top: initial !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #eee;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

.swiperControl:hover {
    background: #222;
}

.swiperControl svg path {
    fill: #000;
}

.swiperControl:hover svg path {
    fill: #fff;
}

.bannerText a {
    font-size: 15px;
    background: #26CAE5;
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.bannerText a:hover {
    background: #222;
}

.bannerText ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

/*about*/
#aboutWrapper {
    margin-top: 100px;
}

#aboutLeft {
    width: 35%;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
}

#aboutLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#aboutRight {
    width: 55%;
}

#aboutRight span {
    font-size: 18px;
}

#aboutRight h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 30px;
}

#aboutRight p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 25px;
}

#aboutRight a {
    background: #26CAE5;
    color: #fff;
    font-weight: 300;
    padding: 15px 25px;
    border-radius: 8px;
    margin-top: 30px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

#aboutRight a:hover {
    background: #222;
}

/*services*/
.sameCard {
    margin-top: 80px;
}

.sameCard a {
    padding: 20px;
    border-radius: 8px;
    background: rgba(179, 179, 179, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    transition: all 0.3s ease-in-out;
    width: 32%;
    height: 350px;
    color: #304864;;
    position: relative;
    overflow: hidden;
}

.backgroundGradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-image: radial-gradient(circle 404px at 20.3% 15.9%, rgba(0, 79, 255, 1) 0%, rgba(0, 240, 255, 1) 90%);
}

.sameCard a:hover {
    color: #fff;
}

.sameCard a:hover .backgroundGradient {
    opacity: 1;
}

.serviceImg {
    position: absolute;
    bottom: -5%;
    right: 0;
    width: 250px;
}

#advWrapper .serviceImg {
    width: 200px;
    height: 200px;
}

.sameCard a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.serviceContent span {
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.serviceContent p {
    margin-top: 30px;
    width: 50%;
}

.sameCard a > span {
    padding: 8px 16px;
    width: fit-content;
    font-weight: 300;
    border-radius: 8px;
    font-size: 18px;
    text-transform: capitalize;
}

/*blogs*/
#blogWrapper {
    margin-top: 80px;
}

#blogWrapper h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
}

#blogWrapper .blogCard {
    padding: 30px;
    transition: all 0.3s ease-in-out;
    width: 32%;
    height: 250px;
    color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#blogWrapper .blogCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: -1;
}

#blogWrapper .blogCard > span {
    position: relative;
    color: #fff;
}

.blogContent {
    position: relative;
}

.blogContent span {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #222;
}

.blogContent p {
    margin-top: 35px;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
}

#blogWrapper .blogCard::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

#blogWrapper .blogCard:hover::before {
    opacity: 0.8;
}

#blogWrapper .blogCard:hover {
    transform: translateY(-10px);
}

/*accordion*/
#faqWrapper {
    margin-top: 80px;
    width: 700px;
    margin-inline: auto;
}

#faqWrapper h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
}

#faqWrapper .acTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.acTop h4 {
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.accordion {
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #ddd;
    cursor: pointer;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.accordionContent {
    display: none;
    margin-top: 15px;
    line-height: 30px;
}

.accordion.active .accordionContent {
    display: block;
}

.accordion.active .acTop h4 {
    color: #26CAE5;
}

/*call to action*/
#callToActionWrapper {
    margin-top: 80px;
    background: #f5f5f5;
    padding: 30px 50px;
    max-width: 900px;
    margin-inline: auto;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px 3px;
}

#callToActionWrapper > p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

#formWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

#formWrapper select,
#formWrapper input {
    width: 33%;
    outline: none;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#formWrapper textarea {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    resize: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#formWrapper button {
    background: #26CAE5;
    color: #fff;
    font-weight: 300;
    padding: 15px 25px;
    border-radius: 8px;
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#formWrapper button:hover {
    background: #222;
}

footer {
    margin-top: 80px;
    background: #2C2C2C;
    padding-top: 30px;
}

footer * {
    color: #fff;
}

#footerTop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footerTop a {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

#footerTop a:hover {
    color: #26CAE5;
}

#footerTop > div {
    width: 24%;
}

#footerLogo {
    display: flex;
    width: 50%;
}

#footerLogo ~ ul {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#footerLogo ~ ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
}

#footerLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fMenuWrap > p {
    font-size: 1.5rem;
    font-weight: 500;
}

.fMenuWrap ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.fMenuWrap a {
    color: #000;
    font-size: 15px;
}

#footerMid {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    padding-block: 30px;
    border-bottom: 1px solid #ddd;
}

#footerMid a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

#footerMid a:hover {
    transform: translateY(-1px);
}

#footerBottom {
    padding-block: 25px;
}

#footerBottom p {
    font-size: 13px;
    line-height: 25px;
}

#portWrapper {
    margin-top: 80px;
}

#portWrapper h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
}

#galleryFrame {
    width: 100%;
    height: 620px;
    margin-top: 30px;
}

#galleryWrapper .row {
    justify-content: center;
    gap: 15px;
}

#galleryWrapper .galleryCat {
    width: 23%;
    border-radius: 8px;
    text-align: center;
    color: #000;
    background: #eee;
    padding-block: 20px;
    transition: all 0.3s ease-in-out;
}

#galleryWrapper .galleryCat.active {
    background: #f99a00;
    color: #fff;
}

.galleryItem {
    width: 23%;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
}

#galleryItems {
    margin-top: 30px;
}

.galleryItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sameCard a img[src*="s6"] {
    transform: scale(0.8);
}

.headerSocials {
    display: flex;
    align-items: center;
    gap: 15px;
}

.headerSocials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

.headerSocials a:nth-of-type(1) {
    background: #04C404;
}

.headerSocials a:nth-of-type(2) {
    background: #00A6FF;
}

.headerSocials a:nth-of-type(3) {
    background: #912EB9;
}

.headerSocials a:hover {
    background: #222;
}

.headerSocials a:hover svg path {
    fill: #fff;
}

#main-div {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
}

#main-button, .btn {
    align-items: center;
}

.wave {
    animation-name: wave;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.open {
    animation-iteration-count: 1;
}

#main-button, #main-button ~ a, #main-button ~ button {
    right: 0;
    height: 50px;
    cursor: pointer;
}

#main-button, #main-button ~ a, #main-button ~ button, .oxo-action-block:before {
    position: absolute;
    bottom: 0;
}

#main-button {
    display: flex;
    justify-content: center;
    width: 50px;
    font-size: 20px;
    color: #0064f3;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #012e64 !important;
}

#main-button ~ button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    font-weight: 600;
    padding: 0 20px;
    color: #fff;
    background: linear-gradient(90deg, #00a1f5, #0064f3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: 0;
    z-index: -1;
    opacity: 0;
    white-space: nowrap;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    border-radius: var(--real-border-radius);
    -webkit-border-radius: var(--real-border-radius);
    -moz-border-radius: var(--real-border-radius);
    -ms-border-radius: var(--real-border-radius);
    -o-border-radius: var(--real-border-radius);
}

#main-button.open ~ button {
    visibility: visible;
    z-index: 100;
    right: 70px;
    opacity: 1;
    transition: 0.4s cubic-bezier(0, 0.01, 0, 1.27);
    -webkit-transition: 0.4s cubic-bezier(0, 0.01, 0, 1.27);
    -moz-transition: 0.4s cubic-bezier(0, 0.01, 0, 1.27);
    -ms-transition: 0.4s cubic-bezier(0, 0.01, 0, 1.27);
    -o-transition: 0.4s cubic-bezier(0, 0.01, 0, 1.27);
}

#main-button.open ~ a:first-of-type {
    bottom: 60px;
}

#main-button.open ~ a {
    opacity: 1;
    transition: 0.4s cubic-bezier(0, 0.01, 0, 1.27);
    -webkit-transition: 0.4s cubic-bezier(0, 0.01, 0, 1.27);
    -moz-transition: 0.4s cubic-bezier(0, 0.01, 0, 1.27);
    -ms-transition: 0.4s cubic-bezier(0, 0.01, 0, 1.27);
    -o-transition: 0.4s cubic-bezier(0, 0.01, 0, 1.27);
}

#main-button ~ .telegram-color {
    background: #912EB9;
}

#main-button ~ a {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    width: 50px;
    font-size: 20px;
    opacity: 0;
    text-decoration: none;
    color: #fff;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}

#main-button.open ~ a:nth-of-type(2) {
    bottom: 120px;
}

#main-button ~ .whatsapp-color {
    background: linear-gradient(0deg, #00b100, #09db09);
}

#main-button.open ~ a:nth-of-type(3) {
    bottom: 180px;
}

#main-button ~ .messenger-color {
    background: linear-gradient(0deg, #0078ff, #00c6ff);
}

.hidden {
    display: none !important;
}

#myModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0005;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    width: 600px;
    padding: 30px;
    border-radius: 8px;
    background: #fff;
}

.modalContent h2 {
    font-size: 18px;
    font-weight: 700;
}

#modalContentTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #00c6ff;
}

#modalForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

#modalForm input,
#modalForm textarea {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    resize: none;
}

#modalForm textarea {
    min-height: 250px;
}

#modalContentTop svg {
    cursor: pointer;
}

#modalForm button {
    background: #00c6ff;
    padding-block: 15px;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

#modalForm button:hover {
    background: #0093bf;
}

#advWrapper a {
    width: 23%;
    height: 300px;
    font-size: 15px;
}

#advWrapper span {
    font-size: 1.5rem;
    font-weight: bold;
}

#advWrapper .serviceImg {
    bottom: 2%;
    right: 50%;
    transform: translateX(50%);
}

#blogTopContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#blogTopContent a {
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all .2s ease-in-out;
    position: relative;
}
#blogTopContent a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #000;
    transition: all .2s ease-in-out;
}
#blogTopContent a svg {
    transition: all .2s ease-in-out;
}
#blogTopContent a:hover svg {
    transform: translateX(5px);
}
#blogTopContent a:hover::after {
    width: 100%;
}